<template>
  <div>
    <p>欢迎来到默认布局 - layout/default</p>
    <header>
    <nav>
      <ul>
        <li>
          <NuxtLink to="/about">关于</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/">首页</NuxtLink>
        </li>
        <li>
          <NuxtLink to="/seo">seo</NuxtLink>
        </li>
      </ul>
    </nav>
  </header>
    <slot />
  </div>
</template>