<template>
    <div class="home">
      <h1>about page</h1>
    </div>
  </template>
  
  <script>
  export default {
    name: 'AboutPage',
    props: {
      name: String,
      age: Number
    },
    mounted () {
      console.log('参数 - query -- ', this.$route.query);
      console.log('参数 - params -- ', this.$route.params);
      console.log('参数 - props -- ', this.name);
    }
  }
  </script>
  
  <style scoped>
  
  </style>
  