<template>
  <div class="hello">
    <h1>hello page</h1>
    <ul>
      <li v-for="item in userList" :key="item.id">
        <span>{{ item.id }} - </span>
        <span>{{ item.name }}</span>
      </li>
    </ul>
    <div @click="toHomePage(1)">HOME页面-query</div>
    <div @click="toHomePage(0)">HOME页面-params</div>
  </div>
</template>

<script>

const userInfoArray = [
  { id: '1', name: 'user-1'},
  { id: '2', name: 'user-2'},
]
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data () {
    return {
      userList: []
    }
  },
  mounted () {
    this.userList = userInfoArray
  },
  methods: {
    toHomePage (flag) {
      // 不传参方式
      // this.$router.push('/')

      if (flag) {
        // query 传参方式
        this.$router.push({
          path: '/',
          query: {
            token: '- query-way -',
            name: '- query-name - '
          }
        })
      } else {
        this.$router.replace({
          name: 'aboutPage',
          params: {
            token: '- params-way - ',
            name: '- params-name - ',
            age: 27
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
