<template>
    <div class="home">
      <h1>home page</h1>

      <ul>
        <li v-for="item in userList" :key="item.id">
          <span>{{ item.id }} - </span>
          <span>{{ item.name }}</span>
        </li>

        <li v-for="item in viewModel.userList" :key="item.id">
          <span>{{ item.id }} - </span>
          <span>{{ item.name }}</span>
        </li>
      </ul>      
    </div>
  </template>
  
  <script>
  import { defineComponent, ref, reactive, onMounted } from '@vue/composition-api'


  const userInfoArray = [
    { id: '1', name: 'user-1'},
    { id: '2', name: 'user-2'},
  ]

  export default defineComponent ({
    name: 'HomePage',
    props: {
      msg: String
    },

    setup () {
      const userList = ref([])
      const viewModel = reactive({
        userList: []
      })
      onMounted (() => {
        userList.value = userInfoArray
        viewModel.userList = userInfoArray
      })
      
      return {
        userList,
        viewModel,
      }
    }
  })
  </script>
  
  <style scoped>
  
  </style>
  