ul {
    margin: unset;
    padding: unset;
}
a {
    color: #444;
    text-decoration: unset;
}
.main {
    margin-top: 40px;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.justify-center {
    justify-content: center;
}
ul li {
    list-style: none;
}
.catalogs_ul {
    margin-right: 20px;
    border-left: 1px solid rgba(0,0,0,0.2);
}
.catalogs_ul li {
    width: 80px;
    height: 35px;
    position: relative;
    margin-bottom: 12px;
    text-align: center;
    line-height: 35px;
}
.catalogs_ul li:hover {
    cursor: pointer;
    background-color: bisque;
}
.catalogs_ul li a {
    display: block;
    width: 100%;
    height: 100%;
} 
.active:after {
    content: ' ';
    position: absolute;
    left: 0px;
    top: calc(50% - 15px);
    width: 2px;
    height: 30px;
    background-color: red;
}

.content {
    position: relative;
    width: 600px;
    height: 312px;
    overflow-y: auto;
    border: 1px solid rgba(0,0,0,0.2);
}
.content div {
    height: 300px;
    margin-bottom: 10px;
    background-color: beige;
    text-align: center;
    line-height: 300px;
}
.content div:last-child {
    margin-bottom: unset;
}