<template>
  <h2>父页面 - pages/useInfo/index</h2>
  <UserInfoChildOne />
  <UserInfoChildTwo />
</template>
<script setup lang="ts">
import UserInfoChildOne from './userInfoChildOne.vue'
import UserInfoChildTwo from './userInfoChildTwo.vue'

</script>