<template>
  <p>子组件 - pages/userInfo/userInfoChildOne</p>
  <p>count: {{ counter.count }}</p>
  <p>doubleCount: {{ doubleCounter }}</p>
  <button @click="getUserList">请求用户信息</button>
  <!-- 也可以直接在模版中调用 -->
  <!-- <button @click="counter.getUserInfoAsync">请求用户信息</button> -->
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useCounterStore } from '../../stores/counter'
import { useCounterSetupStore } from '../../stores/counterSetup'

/**
 * Option Store 的用法
 */
// 定义一个 store。在调用 useCounterStore() 之前，store 实例是不会被创建的
const counter = useCounterStore()
// 通过 store 实例访问 state
console.log(' -- counter -- ', counter.count);
const doubleCounter = computed(() => counter.doubleCount)

async function getUserList () {
  await counter.getUserInfoAsync()
  console.log(' -- userList -- ', counter.userList);
}



/**
 * Setup Store 的用法
 */
const countSetup = useCounterSetupStore()
console.log(' -- countSetup - count -- ', countSetup.count);
console.log(' -- countSetup - doubleCount -- ', countSetup.doubleCount);
console.log(' -- countSetup - countPlusOne -- ', countSetup.countPlusOne);


</script>