<template>
  <p>子组件 - pages/userInfo/userInfoChildTwo</p>
  <button @click="increate">点击+</button>
  <button @click="reset">重置</button>
</template>
<script setup lang="ts">
import { useCounterStore } from '../../stores/counter'

const counter = useCounterStore()
console.log(' -- doublePlusOne -- ', counter.doublePlusOne);

function increate() {
  // 调用 action
  counter.increment()
  
  // 或者 调用 $patch 方法，手动修改 
  // counter.$patch({ count: counter.count + 1 })

  // 可以直接对 state 进行修改。但不推荐这样做，容易引起状态管理混乱
  // counter.count++

  // 替换 state
  // 这样并没有替换 $state
  // counter.$state = { count: 10 }
  // 而是要调用 $patch
  // counter.$patch({ count: 10 })
}

function reset() {
  // 使用选项式 API 时，你可以通过调用 store 的 $reset() 方法将 state 重置为初始值
  counter.$reset()
}
</script>