<template>
  <section>
      <h2>欢迎来到页面 - pages/about</h2>
      <AppAlert>
        组件自定义内容，无需手动注册，直接使用即可
      </AppAlert>
      <!-- <NuxtLayout :name="layout"/> -->
      <!-- <NuxtLayout /> -->

      <Popover class="relative">
        <PopoverButton>
          <button>Solutions</button>
        </PopoverButton>

        <PopoverPanel class="absolute z-10">
          <div class="grid grid-cols-2">
            <!-- <a href="">Analytics</a>
            <a href="">Engagement</a>
            <a href="">Security</a>
            <a href="">Integrations</a> -->
          </div>
        </PopoverPanel>
      </Popover>
  </section>
</template>

<script setup lang="ts">
import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
const layout = 'custom'
// definePageMeta({
//     layout: 'custom' // 指定该页面使用 custom 布局。如果为false，则表示该页面不使用任何布局
// })

// 使用静态导入以实现服务器端兼容性
// import '~/assets/css/about.css'
// 注意：动态导入不兼容服务器端
// import('~/assets/css/about.css')
</script>

<style scoped>
@import url("~/assets/css/about.css");
</style>


<!-- 
  <NuxtLayout /> 搭配 definePageMeta({ layout: 'custom' })，在页面会覆盖 app 中声明的默认的 layout，都为具名 layout
  <NuxtLayout :name="layout"/> 搭配 const layout = 'custom'，不会则不会覆盖
-->
