<template>
  <div class="group bg-gray-100 p-10 hover:bg-sky-400 hover:w-[128px] w-full md:w-1/2 lg:flex lg:spacing-128">
    <h2 :class="$style.red" >欢迎来到页面 - pages/index</h2>
    <NuxtLayout />
    <button @click="updateLayout" class="bg-blue-500 px-0.5 group-hover:text-red-400">更新布局</button>
  </div>
</template>

<script setup lang="ts">
function updateLayout () {
// 点击则更新布局为自定义布局 - custom
setPageLayout('custom')
}
</script>

<!-- module 为css模块，可使用注入的 $style 变量访问。优先级最高，除非其他地方加了!important -->
<style module scoped>
.red {
color: red;
}
h2 {
color: blue !important;
}
</style>
