<template>

  <!-- 或者通过标签模版形式 -->
  <!-- <Head>
    <Title>我的神奇网站</Title>
    <Meta name="description" content="我的神奇网站" />
    <Style type="text/css" children="body { background-color: green; }" />
  </Head> -->
  
  <h2>欢迎来到页面 - pages/seo</h2>
</template>
<script setup lang="ts">
// useHead 会覆盖 nuxt.config.js 中的配置
// useHead({
//   title: 'SEO - page',
//   meta: [
//     { name: 'description', content: '我的神奇网站。' }
//   ],
// })

// 或者可以使用 useSeoMeta，允许你将站点的SEO元标签定义为一个扁平的对象
useSeoMeta({
  title: '我的神奇网站',
  ogTitle: '我的神奇网站',
  description: '这是我的神奇网站，让我来告诉你关于它的一切。'
})
</script>