<template>
  <div class="use-strapi">
    <button @click="handleClick(0)">点击调用Strapi接口</button>
    <p>欢迎来到 {{ title }}</p>
    <p>{{ description }}</p>
  </div>
</template>

<script setup lang="ts">
import type { Restaurant } from '~/types'
const { find, findOne } = useStrapi()

const title = ref('')
const description = ref('')

async function handleClick(flag: Number) {
  let response = null
  if (flag) {
    response = await find<Restaurant>('restaurants')
    
    title.value = response.data[0].attributes.name
    description.value = response.data[0].attributes.description[0].children[0].text
  } else {
    response = await findOne<Restaurant>('restaurants', 1)
    console.log(' -- resopnse -- ', response)
    title.value = response.data.attributes.name
    description.value = response.data.attributes.description[0].children[0].text
  }
}

</script>