<template>
  <span ref="nikenameRef" :data-after="nickNameAfterCont">{{ nickname }}</span>
</template>

<script>
  /*
  【问题描述】
      这里是遇见客户端引擎解析 emoji 应该是失败了（猜测），
      导致渲染到模版上，emoji 不占位
      目前在各个浏览器访问，其个字的引擎解析 emoji 都是正常的
      所以，这可能会是个个例

  【解决方案】- VUE
      可以在 span 标签添加伪元素::after，
      通过对 emoji 的动态判断，给伪元素的 content添加内容，给emoji占位

      attr() 通常用于伪元素和伪类
      var() 用于 css 中引用定义的 css 变量
  */

  export default {
    data() {
      return {
        nickname: '雨天🌩️',
        nickNameAfterCont: '', // nickname DOM 伪元素after content内容
      }
    },
    methods: {
      // 匹配 emoji 文本
      matchEmoji (text) {
        const emoji = text.match(/[\uD800-\uDBFF][\uDC00-\uDFFF]/g)
        return emoji ? emoji.length : 0
      },
      // 处理nickname emoji
      handleNicknameText () {
        try {
          const emojiCount = this.matchEmoji(this.nickname)
          if (emojiCount > 0 && this.$refs.nikenameRef) {
            const nikeNameAfterString = Array(emojiCount).fill('名').join('')
            this.nickNameAfterCont = nikeNameAfterString
          }
        } catch (error) {
          console.log(' - handling nickname emoji text error: ', error)
        }
      },
    }
  }
</script>

<style scoped lang="scss">
  span {
    background-color: blanchedalmond;
    &::after {
      content: attr(data-after);
      opacity: 0; // 隐藏这个content占位字符
    }
  }
</style>
