<template>
  <div>About Page</div>

  <div @click="toHomePage(1)">TO HOME - QUERY</div>
  <div @click="toHomePage(0)">TO HOME - PARAMS</div>

  <div @click="handleClick">点击触发rxjs的next</div>
</template>

<script setup>
  import { useRouter } from 'vue-router'
  import subject from '@/service/subject'

  const router = useRouter()

  const toHomePage = (flag) => {
    subject.next(' -- hello world!')
    if (flag) {
      router.push({
        path: '/',
        query: {
          token: 'vue3-router-1234567890-query',
          name: 'elio'
        }
      })
    } else {
      // 不再支持了
      router.push({
        name: 'home',
        params: {
          token: 'vue3-router-1234567890-params',
          name: 'elio'
        }
      })
    }
  }
  subject.subscribe(message => {
    console.log(' -- aboutPage - subject subscribe, ', message);
  })

  const handleClick = () => {
    console.log(' -- 点击 -- ', subject);
    subject.next(' -- hello world!')
  }
</script>

<style scoped>

</style>
