<template>
  <div>Home Page</div>
</template>

<script setup>
import { useRoute } from 'vue-router'
import { defineProps, onMounted, ref } from 'vue'
import { chatGPTRequest } from '@/api/sendApiRequest'
import subject from '@/service/subject'

  const props = defineProps({
    name: String
  })

  const prompt = ref('hello, how are you?')
  onMounted(() => {
    console.log(props.name)
  })
  subject.subscribe(message => {
    console.log(' -- homePage - subject subscribe, ', message);
  })

  const getGptResponse = () => {
    const requestObj = {
      prompt,
      temperature: 0.7,
      max_tokens: 100,
    }
    chatGPTRequest(requestObj).then(res => {
      console.log('res -- ', res)
    })
  }
  const route = useRoute()
  console.log('query -- ', route.query);
  console.log('params -- ', route.params);
</script>

<style scoped>

</style>
