<!-- 默认情况下，Nuxt 将 app.vue 作为【默认的入口】。并为应用程序的每个路由渲染其内容 -->
<template>
  <div>
    <h1>欢迎来到首页 - app</h1>
      <!-- NuxtLayout 是一个特殊的组件，它代表了当前页面的布局。它会自动渲染当前页面的布局。 -->
      <NuxtLayout />
      <!-- NuxtPage 是一个特殊的组件，它代表了当前页面的模板。它会自动渲染当前页面的模板。 -->
      <NuxtPage />
  </div>
</template>


<script setup lang="ts">
// 类型限制
// interface MetaObject {
//   title?: string
//   titleTemplate?: string | ((title?: string) => string)
//   templateParams?: Record<string, string | Record<string, string>>
//   base?: Base
//   link?: Link[]
//   meta?: Meta[]
//   style?: Style[]
//   script?: Script[]
//   noscript?: Noscript[];
//   htmlAttrs?: HtmlAttributes;
//   bodyAttrs?: BodyAttributes;
// }

// 以响应式的方式管理头部标签
// useHead<MetaObject>({
//   // 标题模版。如果在其他页面有设置title，则会做拼接
//   titleTemplate: (titleChunk) => {
//     return titleChunk ? `${titleChunk} - Nuxt Project` : 'Nuxt Project'
//   },
//   // title: "Nuxt Project",
//   meta: [
//     { name: 'description', content: 'nuxt的SEO'}
//   ],
//   script: [
//     {
//       src: 'https://third-party-script.com',
//       // 有效选项为：'head' | 'bodyClose' | 'bodyOpen'
//       tagPosition: 'bodyClose'
//     }
//   ],
//   link: [
//     {
//       rel: 'preconnect',
//       href: 'https://fonts.googleapis.com'
//     },
//     {
//       rel: 'stylesheet',
//       href: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap',
//       crossorigin: ''
//     }
//   ]
// })
</script>

<style>
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
</style>